@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Reggae One', cursive;
    box-sizing: border-box;
    /* background: #111; */
}
.game {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,rgb(28, 28, 150), rgb(103, 49, 179));
}
.byme {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
}
.start-part {
    left: 50%;
    height: auto;
    top: 30%;
    width: 100%;
    transform: translateX(-50%) translateY(-30%);
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}
.start-part h1 {
    /* -webkit-text-stroke: 2px #22a; */
    color: white;
    white-space: nowrap;
    text-shadow: 7px 7px 0px #11a;
    font-size: 70px;
}
.start {
    font-weight: bold;
    width: 90%;
    max-width: 350px;
    height: 150px;
    font-size: 34px;
    background: linear-gradient(45deg, #22a, rgb(104, 68, 187));
    border: 5px solid #11a;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all ease 0.3s;
}
.start:hover, .start:active {
    background: white;
    color: #33a;
    border: none;
}
/* ========================================================== */
.choose-team {
    color: white;
    position: absolute;
    max-width: 600px;
    min-width: 250px;
    max-height: 80vh;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(45deg, #55a, rgb(115, 85, 170));
    border: 5px solid #11a;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
    padding: 20px;
    margin-top: 30px;
    flex-direction: column;
}
.choose-team label {
    text-decoration: underline;
    margin: 10px 5px;
    font-size: 22px;
    position: relative;
}
.choose-team input {
    background-color: white;
    color: #22a;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #44a;
    height: 40px;
    font-size: 21px;
}
.go-to-game, .go-to-them {
    padding: 5px;
    margin: 3px;
    height: 50px;    
    font-size: 22px;
    background: #33a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.go-to-game:hover, .go-to-game:active, .go-to-them:hover, .go-to-them:active {
    color: #33a;
    background: white;
}
.game-modes {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* ===================================================================== */
.game-table {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
    justify-content: center;
    flex-direction: column;
    /* background: #55a; */
    background: linear-gradient(45deg, #55a, rgb(115, 85, 170));
    border: 3px solid #11a;
    max-width: 600px;
    min-width: 250px;
    min-height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border-radius: 20px;
}
.in-game-table-btn {
    font-weight: bold;
    height: 50px;    
    font-size: 22px;
    background: #33a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.in-game-table-btn:hover {
    background: white;
    color: #33a;
}
.game-table span, .game-table h5 {
    margin: 15px 0px 25px;
    color: white;
    font-size: 20px;
}
.points {
    width: 100%;
    background-color: #33a;
    border-top: 1px solid #11a;
    border-bottom: 1px solid #11a;
    padding: 20px;
    margin-left: -20px;
    /* border-radius: 10px; */
}
.toppoint {
    margin-top: 20px;
    font-style: italic;
}
/* ===================================================================== */
.alias {
    color: white;
    position: absolute;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    background: #55a;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
    padding: 20px;
    border: 2px solid #44a;
    border-radius: 20px;
    flex-direction: column;   
}
.alias2 {
    color: white;
    position: absolute;
    max-width: 500px;
    min-width: 250px;
    margin-top: 10px;
    max-height: 80vh;
    background: #55a;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
    padding: 20px;
    flex-direction: column;   
}
.timer {
    font-size: 19px;
}
.true-false {
    display: flex;
    width: 100%;
    justify-content: center;
}
.true-false div {
    width: 50%;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    transition: all ease-in 0.2s;
    border-radius: 10px;
    margin: 5px;
}
.true-false div:active {
    opacity: 0.7;
    background: #000;
}
.true-btn {
    background: radial-gradient(rgb(11, 222, 11),rgb(11,122,11));
}
.false-btn {
    background: radial-gradient(rgb(222, 11, 11),rgb(122,11,11));
}
.word {
    font-size: 30px;
    text-align: center;
    background: #44a;
    padding: 15px 0px;
}
.word-r1 {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: #44a;
    text-align: center;
}
.word-r1.true {
    color: #22a;
    background-color: white;
}
.win-mess {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
    font-size: 8vw;
    color: white;
    background-color: #22a;
    animation: none;
    overflow: hidden;
}
/* ================================================================= */
.thems {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: none;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #55a, rgb(115, 85, 170));
    border: 3px solid #11a;
    color: white;
    min-width: 90%;
    margin-top: 15px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.choose-thems {
    max-height: 250px;
    overflow-y: scroll;
    background: #44a;
    margin-bottom: 15px;
}
.some-them {
    margin: 10px auto;
    width: 90%;
    cursor: pointer;
    height: auto;
    letter-spacing: 3px;
    text-decoration: underline;
    border: 2px solid #44a;
    padding: 10px;
    background-color: #33a;
    border-radius: 20px;
}
.some-them.chosen {
    background-color: white;
    color: #33a;
    border: 2px solid white;
}
.some-them:last-child {
    margin-bottom: 30px;
}

@keyframes wining {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(50%);
    }
}
